<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" media="screen,projection,tv"
          href="{$basePath}/distrib/bundle.css">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Sportisimo test admin</title>
</head>

<body>

<div n:ifset="$flashes">
    <div n:foreach="$flashes as $flash"
            class="alert alert-{$flash->type} mb-24">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    {$flash->message}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>

{include content}

{block scripts}
    <script src="{$basePath}/distrib/bundle.js"></script>
{/block}

</body>
</html>
