<!DOCTYPE html>
<html style="height: 100%;">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/distrib/bundle.css">
    <title>Access Denied</title>
</head>

<body style="height: 100%;">

<div class="h-100 row align-items-center">
    <div class="col-3 mx-auto">
        <h1>Forbidden</h1>
        <p>You do not have permission to view this page. Please try contact our IT team if you believe you should be
            able to
            view this page or try <a n:href="Sign:default"><u>Sign in</u></a>.</p>
        <p class="text-grey">error 403</p>
        <small class="text-grey">{$link}</small>
    </div>
</div>

</body>
</html>
